@use '../../styles/partials/constants' as *;
@use '../../styles/partials/mixins' as *;

.card {
    padding: 1rem 0;
    border-bottom: 2px solid $mercury;
    @include flex-box(row, flex-start, null , null);
    @include desktop {
        border-bottom: none;
        border-top: 2px solid $mercury;
    }
    &__wrapper {
        @include flex-box(row, center, null, null);
        @include desktop {
            margin: 0 1rem;
        }
    }
    &__img {
        background-color: $mercury;
        border-radius: 50%;
        background-size: cover;
        overflow: hidden;
        height: 2.25rem;
        width: 2.25rem;
    }
    &__leftcolumn {
        @include flex-box(column, flex-start, start, null);
        height: 100%;
        margin: 0 1rem 0 0;
    }
    &__container {
        @include flex-box(row, space-between, null, null);
    }
    &__author {
        @include font(0.813rem, 700, $grey, 1.375rem);
    }
    &__time {
        @include font(0.813rem, normal, $silver, 1.375rem);
    }
}