@use '../partials/constants' as *;
@use '../partials/mixins' as *;

.video {
    @include flex-box(mull, center, null, null);
    &__wrapper {
        width: 100%;
        height: 0;
        background-color: $black;
        max-width: 1280px;
        padding-bottom: 52.25%;
        @include tablet {
            padding: 0 2.25rem 0 2.25rem;
            padding-bottom: 52.25%;
        }
        position: relative;
    }
    &__window {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}


