@use '../../styles/partials/constants' as *;
@use '../../styles/partials/mixins' as *;


.upload {
    width: 100%;
    border-top: 2px solid $mercury;
    padding-top: 1.5rem;
    @include flex-box(null, center,null, null);
    &__wrapper {
        width: 100%;
        max-width: 1280px;
        padding: 0 1rem;
        @include tablet {
            padding: 0 2.25rem;
        }
        @include desktop {
            padding: 0 7rem;   
        }
    }

    &__imgcontainer {
        width: 100%;
        @include tablet {
            width: 50%; 
        }
        @include desktop {
            width: 100%;
        }
    }

    &__container {
        padding-top: 1.5rem;
        @include tablet {
            padding-top: 1rem;
            margin-top: 1rem;
            border-top: 2px solid $mercury;
        }
        @include desktop {
            @include flex-box(row, center, null, null);
        }
        &--form {
            width: 100%;
        }
        &--thumbnail {
            margin-bottom: 1rem;
            @include tablet {
                @include flex-box(column, null, start, null);
            }
            @include desktop {
                width: 24rem;
                margin: 0 1rem 0 0;
            }
        }
    }
    
    &__form{
        @include tablet{
            @include flex-box(column, null, flex-start, null);
        }
        &--text {
            width: 100%;
            @include tablet {
                margin-bottom: 1rem;
            }
            @include desktop {
                margin-bottom: 0;
            }
        }
        &--container {
            width: 100%;
            @include desktop {
                @include flex-box(row, center, center, null);
            }
        }
    }

    &__content {
        @include desktop {
            width: 100%;
            min-height: 100%;
            @include flex-box(column, space-between, start, null);
        }
    }
    &__input {
        width: 100%;
    }

    &__description {
        width: 100%;
        @include desktop {
            @include flex-box(column, flex-end, null, null);
        }
    }

    &__textarea {
        outline: 1px solid $mercury;
        border-radius: 4px;
        border-style: none;
        margin-bottom: 1rem;
        padding: 0.5rem 0.75rem;
        width: 100%;
        resize: none;
        height: 80px;
        @include font(0.875rem, 700, $grey, 1.375rem);
        font-family: "AvenirNext LT Pro";
        @include tablet {
            padding: 0.25rem 0.75rem;
            margin-bottom: 0;
        }
        &:focus {
            outline: none;
            border: 2px solid $blue-light;
        }
        &::placeholder {
            @include font(0.875rem, 500, $grey, 1.375rem);
            font-family: "AvenirNext LT Pro";
        }
    } 
}

.thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: $mercury;
    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 100%;
    }
}

.cancel__btn {
    background-color: $white;
    border: none;
    width: 100%;
    text-transform: uppercase;
    @include flex-box(null, center, center, null);
    height: 40px;
    margin: 1rem 0 0 0;
    padding: 0 0.5rem;
    @include font(12px, 700, $blue-light, 20px);
    @include tablet {
        min-width: 150px;
        max-width: 150px;
    } 
}

.btn-mobile {
    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}

.btn-not-mobile {
    display: none;
    @include tablet {
        display: flex;
        margin: 0;
    }
}

.button__container {
    width: 100%;
    @include tablet {
        @include flex-box(row, flex-end, end, null);
        border-top: 2px solid $mercury;
        padding-top: 1.5rem;
        margin-top: 0.5rem;
    }
    @include desktop {
        margin-top: 1rem;
    }
}

.error {
    border: 2px solid $red;
}