$tablet-break: 768px;
$desktop-break: 1280px;

$blue-light: #0095ff;
$mercury: #e1e1e1;
$grey: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$black: #000000;


// @font-face {
//     font-family: 'AvenirNext LT Pro';
//     src: url('../assets/Font/AvenirNextLTPro-Regular.woff2') format('woff2'),
//         url('../assets/Font/AvenirNextLTPro-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'AvenirNext LT Pro';
//     src: url('../assets/Font/AvenirNextLTPro-Bold.woff2') format('woff2'),
//         url('../assets/Font/AvenirNextLTPro-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

